<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      https://maven.apache.org/xsd/settings-1.0.0.xsd">

  <servers>
    <server>
      <id>bcard-app-releases</id>
      <username>bcard-user</username>
      <password>bcard-user</password>
    </server>
    <server>
      <id>bcard-app-snapshots</id>
      <username>bcard-user</username>
      <password>bcard-user</password>
    </server>
  </servers>
</settings>
